# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#MacOS finder
*.DS_Store

#DataGrip files
.idea/*

#Intellij
F1antasy_app/out
F1antasy_app/.idea/workspace.xml
F1antasy_app/.idea/*.iws
F1antasy_app/.idea/tasks.xml
F1antasy_app/.idea/artifacts
F1antasy_app/.idea/libraries
F1antasy_app/.idea/misc.xml
F1antasy_app/F1antasy_app.iml
F1antasy_app/.idea/uiDesigner.xml
