.root {
    -title-background-color: rgb(169, 12, 12);
    -blue-buttons-color: #0e55ff;
    -tile-gray: #a2a2a2;
    -fx-font-family: 'Arial';
}

.tab-anchor-pane {
    -fx-background-color: linear-gradient(to bottom, rgb(28, 2, 2) 18%, rgba(143, 11, 11, 1) 100%);
}

.tab-anchor-pane * {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.text-field {
    -fx-text-fill: black;
}

.title, .navButton {
    -fx-background-color: -title-background-color;
    -fx-background-radius: 10px;
    -fx-padding: 7px;
}

.navButton .outputLabel {
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 5;
}

.homeTileVBox {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.homeTileVBox .imageNameVBox {
    -fx-background-color: -tile-gray;
    -fx-background-radius: 10px 10px 0px 0px;
}

.homeTileVBox .valueLabel {
    -fx-text-fill: black;
}

.blueButton, .red-button {
    -fx-background-color: transparent;
    -fx-text-fill: -blue-buttons-color;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.red-button {
    -fx-text-fill: red;
}

.title .class-priv-combo-box {
    -fx-background-color: -title-background-color;
    -fx-border-color: white;
}

.class-priv-combo-box .combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}

.semi-transparent-list-view {
    -fx-background-color: rgba(162, 162, 162, 0.2);
}

.semi-transparent-list-view .list-cell {
    -fx-background-color: transparent;
}

.list-view .list-cell:selected {
    -fx-background-color: rgba(200, 200, 200, 0.15);
}